<div class="col d-flex justify-content-center">
    <div class="card" style="width: 30rem;">
      <div class="card-body">
        <h5 class="card-title">{% if record.status == None %} Нет статуса {% else %}{{ record.status }} {% endif%}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <small>
            {{ record.created_at|date:"d E Y" }}<br>
          </small>
        </h6>
        <p class="card-text">
          <b>Тип:</b> {{ record.type }} <br />
          <b>Категория:</b> {{ record.category }} <br />
          <b>Подкатегория:</b> {{ record.subcategory}} <br />
          <b>Сумма:</b> {{ record.amount}} рублей <br />
          <b>Комментарий:</b> {{ record.comment|truncatewords:5 }} <br />
        </p>
        <div class="mb-2">
          <div class="card-link">
            <a href="{% url 'cashflow:record_detail' record.id %}" class="card-link">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </div>