<div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-body">
        <h5 class="card-title">{{ record.status }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <small>
            {{ record.pub_date|date:"d E Y, H:i" }}<br>
            {{ record.type }} - {{ record.category }} - {{ record.subcategory}} - {{ record.comment }} - {{ record.amount}}
          </small>
        </h6>
        {% comment %} <a href="{% url 'cashflow:post_detail' post.id %}" class="card-link">Читать полный текст</a> {% endcomment %}
      </div>
    </div>
  </div>